/* HEADER */

header.about-me-banner {
  background: url('../images/waterfall-iceland.jpg') no-repeat top center;
  padding-top: 20px;
  min-height: 350px;
  color: white;
}

/* CONTENT */

body {
  background-color: #fff!important;
}

p {
  text-align: left;
}

/* GRID */

.grid-container {
  margin: 0 auto;
  width: 100%;
  padding: 20px 50px;
}

.grid, .grid-2 {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  background-color: #fff;
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

img.pics {
  width: 200px;
  max-height: 190px;
  border-radius: 10px
}

.heart-symbol {
  width: 50px
}

.grid-2 {
  grid-template-columns: 60% 1fr;
}

.grid-item {
  margin: 0 auto;
  padding: 20px 30px;
}

img.travel_pics {
  width: 150px;
  max-height: 150px;
  border-radius: 10px;
  margin: 0px;
}

.grid-container-2 {
  padding: 30px;
}

/* RESPONSIVES */
@media screen and (max-width: 768px) {
 .grid-container {
    padding: 20px 10px
 }
 .grid, .grid-2 {
   grid-template-columns: 1fr;
 }
}
@media screen and (min-width: 1440px) {
  .grid-container .grid-container-2 {
    padding: 20px 200px;
  }
}
