/* HEADER */

header.portfolio-banner {
  background: url('../images/sunset.jpg') no-repeat bottom;
  padding-top: 20px;
  min-height: 250px;
}

header h1, a, .nav .name {
  color: #DCE5EC;
}

/* CONTENT */

body, main {
  background-color: #fff;
}

.portfolio-intro {
  padding: 20px 20px 70px 20px;
}

.portfolio-intro, .annies-cook {
  width: 60%;
  margin: 0 auto;
}

.annies-cook {
  padding-top: 20px;
}

.HP-intro {
  background-color: #DCE5EC;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* GRID */

.grid-container-1, .grid-hp, .HP-intro {
  background-color: #DCE5EC;
}

.grid-container-1, .grid-container-2 {
  width: 100%;
}

.grid-hp, .grid-annie {
  display: grid;
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 800px;
}

.grid-hp, .grid-container-2, .grid-annie, .grid-item-logo {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-container-2, .grid-annie {
  background-color: #fff;
}

.grid-item {
  position: relative;
  padding: 20px 30px;
  margin: 0 auto;
}

.grid-item:hover .pf-pics {
 opacity: 0.3;
}

img.pf-pics {
  opacity: 1;
  display: block;
  width: 265px;
  height: 500px;
  transition: .5s ease;
  margin: 0 auto;
}

.grid-tekst {
  position: absolute;
  top: 3%;
  left: 9.5%;
  width: 265px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .10s;
}

div.hg-tekst {
  background-color: rgb(47,87,106);
  width: 200px;
}

.hg-tekst {
  font-size: 16px;
  padding: 10px;
  border-radius: 15px;
}

.hg-tekst h3, .hg-tekst p  {
  color: #fff;
}

.grid-item:hover .grid-tekst {
 opacity: 1;
}

img.annies-logo {
  height: 200px;
}

.annies-tekst {
  padding: 0px;
}
